## Week 3: Jupyter Notebook - Pandas GroupBy, Apply, and Create Your Own Functions
Make sure to select your Kernel before starting!

### Import Pandas Library/Package
`import pandas as pd`

In [1]:
import pandas as pd

### Optional: Displaying your Dataframe
Don't use for big datasets

In [2]:
pd.set_option("display.max_columns", None)  # Show all columns
pd.set_option("display.max_rows", None)     # Show all rows

### GroupBy Functions
`df.groupby()`

Create own dataset

In [3]:
data = {
    'Name': ['Zophie', 'Alice', 'Bob', 'Charlie', 'Max', 'Milo', 'Luna', 'Bella'],
    'Age': [7, 5, 3, 2, 5, 3, 2, 5],
    'Color': ['Gray', 'Black', 'Brown', 'White', 'Black', 'Brown', 'White', 'Black'],
    'Owner': ['Charles', 'Charles', 'Cj', 'Cj', 'Cj', 'Charles', 'Cj', 'Charles'],
    'Type': ['Cat', 'Cat', 'Dog', 'Dog', 'Dog', 'Cat', 'Dog', 'Cat']
}

# Create DataFrame 
data = pd.DataFrame(data)
data

      Name  Age  Color    Owner Type
0   Zophie    7   Gray  Charles  Cat
1    Alice    5  Black  Charles  Cat
2      Bob    3  Brown       Cj  Dog
3  Charlie    2  White       Cj  Dog
4      Max    5  Black       Cj  Dog
5     Milo    3  Brown  Charles  Cat
6     Luna    2  White       Cj  Dog
7    Bella    5  Black  Charles  Cat

Count how many pets of each color each owner has

`.size()`

In [4]:
# Group By Owner and Color 

data.groupby(['Owner','Color']).size()

Owner    Color
Charles  Black    2
         Brown    1
         Gray     1
Cj       Black    1
         Brown    1
         White    2
dtype: int64

### Read In Datasets
`pd.read_csv()`

Read in the file from the data folder called `Shot_Visuals_KaylanBigun_NathanTrouve.csv`

In [5]:
# Read data and create df variable
df = pd.read_csv('data/Shot_Visuals_KaylanBigun_NathanTrouve.csv')
# Print the head of the object
df.head(20)

,pointScore,gameScore,setScore,isPointStart,pointStartTime,isPointEnd,pointEndTime,pointNumber,isBreakPoint,shotInRally,side,serverName,serverFarNear,firstServeIn,firstServeZone,firstServeXCoord,firstServeYCoord,secondServeIn,secondServeZone,secondServeXCoord,secondServeYCoord,isAce,shotContactX,shotContactY,shotDirection,shotFhBh,isSlice,isVolley,isOverhead,isApproach,isDropshot,isExcitingPoint,atNetPlayer1,atNetPlayer2,isLob,shotLocationX,shotLocationY,isWinner,isErrorWideR,isErrorWideL,isErrorNet,isErrorLong,clientTeam,Date,Division,Event,lineupPosition,matchDetails,matchVenue,opponentTeam,player1Name,player2Name,player1Hand,player2Hand,Round,Surface,Notes,isTopspin,isFlat,isKick,gameNumber,tiebreakScore,returnerName,shotHitBy,InsideOut,InsideIn,isDoubleFault,pointWonBy,lastShotError,serveResult,serveInPlacement,depth
0,0-0,0-0,0-0,1.0,25020.0,NaN,NaN,1,NaN,1,Deuce,Kaylan Bigun,Near,0.0,T,-18.836920,274.599344,1.0,T,-29.841596,148.910149,NaN,37.379342,-435.169001,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,2.0,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,2nd Serve In,T,NaN
1,0-0,0-0,0-0,NaN,36320.0,NaN,NaN,1,NaN,2,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-49.714545,458.469302,Crosscourt,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.263692,-362.551121,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,1.0,NaN,1,NaN,Nathan Trouve,Nathan Trouve,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Deep
2,0-0,0-0,0-0,NaN,37349.0,NaN,NaN,1,NaN,3,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.837555,-473.011335,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-50.312615,455.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0-0,0-0,0-0,NaN,38549.0,1.0,38549.0,1,NaN,4,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-55.284077,511.099442,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.758722,-484.903489,NaN,NaN,NaN,NaN,1.0,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,NaN,NaN,Kaylan Bigun,1.0,NaN,NaN,Long
4,15-0,0-0,0-0,1.0,57814.0,1.0,61681.0,2,NaN,1,Ad,Kaylan Bigun,Near,1.0,Wide,149.000000,201.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,Kaylan Bigun,NaN,1st Serve In,Wide,NaN
5,30-0,0-0,0-0,1.0,61671.0,NaN,NaN,3,NaN,1,Deuce,Kaylan Bigun,Near,1.0,T,-18.000000,212.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,1st Serve In,T,NaN
6,30-0,0-0,0-0,NaN,81681.0,NaN,NaN,3,NaN,2,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-48.000000,480.000000,Down the Line,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29.000000,-204.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Short
7,30-0,0-0,0-0,NaN,82877.0,NaN,NaN,3,NaN,3,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,-431.000000,Down the Line,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.000000,276.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Short
8,30-0,0-0,0-0,NaN,84155.0,NaN,NaN,3,NaN,4,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000,490.000000,Crosscourt,Backhand,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.000000,-303.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
9,30-0,0-0,0-0,NaN,85964.0,NaN,NaN,3,NaN,5,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-96.000000,-474.000000,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.000000,315.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
10,30-0,0-0,0-0,NaN,87340.0,1.0,90130.0,3,NaN,6,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.000000,492.000000,Crosscourt,Backhand,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.000000,-469.000000,NaN,NaN,NaN,NaN,1.0,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,NaN,NaN,Kaylan Bigun,1.0,NaN,NaN,Long
11,40-0,0-0,0-0,1.0,104949.0,NaN,NaN,4,NaN,1,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,0.0,Body,87.428193,296.783044,NaN,-76.627685,-431.146451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,1.0,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,Double Fault,Body,NaN
12,40-0,0-0,0-0,NaN,105620.0,1.0,105620.0,4,NaN,2,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.081819,478.803674,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-168.478341,-193.353565,NaN,1.0,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,1.0,NaN,1,NaN,Nathan Trouve,Nathan Trouve,1.0,NaN,NaN,Kaylan Bigun,1.0,NaN,NaN,NaN
13,0-0,1-0,0-0,1.0,156149.0,NaN,NaN,5,NaN,1,Deuce,Nathan Trouve,Near,1.0,Wide,-131.570030,204.705255,NaN,NaN,NaN,NaN,NaN,38.538123,-433.837784,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,2,NaN,Kaylan Bigun,Nathan Trouve,NaN,NaN,NaN,NaN,NaN,1st Serve In,Wide,NaN
14,0-0,1-0,0-0,NaN,156979.0,NaN,NaN,5,NaN,2,Deuce,Nathan Trouve,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-205.137932,499.138047,Down the Line,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-64.638233,-86.310942,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,1.0,NaN,2,NaN,Kaylan Bigun,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
15,0-0,1-0,0-0,NaN,158580.0,1.0,158580.0,5,NaN,3,Ad,Nathan Trouve,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-25.773075,-370.143373,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.902909,468.458503,NaN,1.0,NaN,NaN,1.0,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,2,NaN,Kaylan Bigun,Nathan Trouve,1.0,NaN,NaN,Kaylan Bigun,1.0,NaN,NaN,NaN
16,0-15,1-0,0-0,1.0,184279.0,NaN,NaN,6,1.0,1,Ad,Nathan Trouve,Near,0.0,Wide,110.941962,245.341656,1.0,T,48.927083,194.308180,NaN,-71.170303,-452.377947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,1.0,NaN,2,NaN,Kaylan Bigun,Nathan Trouve,NaN,NaN,NaN,NaN,NaN,2nd Serve In,T,NaN
17,0-15,1-0,0-0,NaN,194169.0,NaN,NaN,6,1.0,2,Ad,Nathan Trouve,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.495024,472.224907,Down the Line,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.869756,-208.546949,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,2,NaN,Kaylan Bigun,Kaylan Bigun,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Short
18,0-15,1-0,0-0,NaN,195250.0,NaN,NaN,6,1.0,3,Ad,Nathan Trouve,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-55.358831,-478.693017,Down the Line,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-157.578543,426.957896,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,2,NaN,Kaylan Bigun,Nathan Trouve,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
19,0-15,1-0,0-0,NaN,196669.0,1.0,196669.0,6,1.0,4,Deuce,Nathan Trouve,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-126.117968,506.314884,Down the Line,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.982983,2.822430,NaN,NaN,NaN,1.0,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,2,NaN,Kaylan Bigun,Kaylan Bigun,NaN,NaN,NaN,Nathan Trouve,1.0,NaN,NaN,NaN

##### Create Sample dataframe
- save as `sample_df`
- First 3 points

In [6]:
# sample_df and first 3 points 
sample_df = df.head(11) 
sample_df 

df[0:11]

,pointScore,gameScore,setScore,isPointStart,pointStartTime,isPointEnd,pointEndTime,pointNumber,isBreakPoint,shotInRally,side,serverName,serverFarNear,firstServeIn,firstServeZone,firstServeXCoord,firstServeYCoord,secondServeIn,secondServeZone,secondServeXCoord,secondServeYCoord,isAce,shotContactX,shotContactY,shotDirection,shotFhBh,isSlice,isVolley,isOverhead,isApproach,isDropshot,isExcitingPoint,atNetPlayer1,atNetPlayer2,isLob,shotLocationX,shotLocationY,isWinner,isErrorWideR,isErrorWideL,isErrorNet,isErrorLong,clientTeam,Date,Division,Event,lineupPosition,matchDetails,matchVenue,opponentTeam,player1Name,player2Name,player1Hand,player2Hand,Round,Surface,Notes,isTopspin,isFlat,isKick,gameNumber,tiebreakScore,returnerName,shotHitBy,InsideOut,InsideIn,isDoubleFault,pointWonBy,lastShotError,serveResult,serveInPlacement,depth
0,0-0,0-0,0-0,1.0,25020.0,NaN,NaN,1,NaN,1,Deuce,Kaylan Bigun,Near,0.0,T,-18.83692,274.599344,1.0,T,-29.841596,148.910149,NaN,37.379342,-435.169001,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,2.0,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,2nd Serve In,T,NaN
1,0-0,0-0,0-0,NaN,36320.0,NaN,NaN,1,NaN,2,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-49.714545,458.469302,Crosscourt,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.263692,-362.551121,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,1.0,NaN,1,NaN,Nathan Trouve,Nathan Trouve,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Deep
2,0-0,0-0,0-0,NaN,37349.0,NaN,NaN,1,NaN,3,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.837555,-473.011335,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-50.312615,455.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0-0,0-0,0-0,NaN,38549.0,1.0,38549.0,1,NaN,4,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-55.284077,511.099442,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.758722,-484.903489,NaN,NaN,NaN,NaN,1.0,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,1.0,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,NaN,NaN,Kaylan Bigun,1.0,NaN,NaN,Long
4,15-0,0-0,0-0,1.0,57814.0,1.0,61681.0,2,NaN,1,Ad,Kaylan Bigun,Near,1.0,Wide,149.00000,201.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,Kaylan Bigun,NaN,1st Serve In,Wide,NaN
5,30-0,0-0,0-0,1.0,61671.0,NaN,NaN,3,NaN,1,Deuce,Kaylan Bigun,Near,1.0,T,-18.00000,212.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,1st Serve In,T,NaN
6,30-0,0-0,0-0,NaN,81681.0,NaN,NaN,3,NaN,2,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-48.000000,480.000000,Down the Line,Backhand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29.000000,-204.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Short
7,30-0,0-0,0-0,NaN,82877.0,NaN,NaN,3,NaN,3,Deuce,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,-431.000000,Down the Line,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.000000,276.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Short
8,30-0,0-0,0-0,NaN,84155.0,NaN,NaN,3,NaN,4,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000,490.000000,Crosscourt,Backhand,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.000000,-303.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
9,30-0,0-0,0-0,NaN,85964.0,NaN,NaN,3,NaN,5,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-96.000000,-474.000000,Crosscourt,Forehand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.000000,315.000000,NaN,NaN,NaN,NaN,NaN,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Kaylan Bigun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Short
10,30-0,0-0,0-0,NaN,87340.0,1.0,90130.0,3,NaN,6,Ad,Kaylan Bigun,Near,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.000000,492.000000,Crosscourt,Backhand,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.000000,-469.000000,NaN,NaN,NaN,NaN,1.0,"Univeristy of California, Los Angeles",2/22/15,Division 1,Dual-Match,NaN,NaN,Los Angeles Tennis Center,University of South California,Kaylan Bigun,Nathan Trouve,Left,Right,NaN,Hard,NaN,NaN,NaN,NaN,1,NaN,Nathan Trouve,Nathan Trouve,NaN,NaN,NaN,Kaylan Bigun,1.0,NaN,NaN,Long

Group By `pointNumber` and subset the columns `pointStartTime`

Use the `.first()` function to grab the first value

In [7]:
sample_df.groupby('pointNumber')["pointStartTime"].first()

pointNumber
1    25020.0
2    57814.0
3    61671.0
Name: pointStartTime, dtype: float64

Use the `.last()` function to grab the last value

In [8]:
sample_df.groupby('pointNumber')["pointEndTime"].last()

pointNumber
1    38549.0
2    61681.0
3    90130.0
Name: pointEndTime, dtype: float64

### Create your own functions

`def function()`

In [9]:
# set a variable x = 2
x = 2
# print variable x 
print(x)

2

In [10]:
x + 1

3

In [11]:
# Create a function that takes a variable x and returns x + 1

In [12]:
def function(x): 
    answer = x 
    return answer 

function(4)

4

##### Personalize your function name and add multiple arguments

In [13]:
# Create a function that takes a variable x and returns x + 2 
def function(x):
    answer = x + 2
    return answer

In [14]:
# print function and arguments 
function(4)

6

### Apply Functions
`.apply()`

In [15]:
# Use the pets dataset for this example 
data

      Name  Age  Color    Owner Type
0   Zophie    7   Gray  Charles  Cat
1    Alice    5  Black  Charles  Cat
2      Bob    3  Brown       Cj  Dog
3  Charlie    2  White       Cj  Dog
4      Max    5  Black       Cj  Dog
5     Milo    3  Brown  Charles  Cat
6     Luna    2  White       Cj  Dog
7    Bella    5  Black  Charles  Cat

In [16]:
# Add 1 to the Age column of the pets dataset 
data["Age"] = data["Age"].apply(lambda x: x+1) 
data

      Name  Age  Color    Owner Type
0   Zophie    8   Gray  Charles  Cat
1    Alice    6  Black  Charles  Cat
2      Bob    4  Brown       Cj  Dog
3  Charlie    3  White       Cj  Dog
4      Max    6  Black       Cj  Dog
5     Milo    4  Brown  Charles  Cat
6     Luna    3  White       Cj  Dog
7    Bella    6  Black  Charles  Cat

In [17]:
# same as creating your own function
data["Age"].apply(function)

0    10
1     8
2     6
3     5
4     8
5     6
6     5
7     8
Name: Age, dtype: int64

In [18]:
# Also use the summarizing functions (mean, max, mean) 
data["Age"].apply('mean') 
data

      Name  Age  Color    Owner Type
0   Zophie    8   Gray  Charles  Cat
1    Alice    6  Black  Charles  Cat
2      Bob    4  Brown       Cj  Dog
3  Charlie    3  White       Cj  Dog
4      Max    6  Black       Cj  Dog
5     Milo    4  Brown  Charles  Cat
6     Luna    3  White       Cj  Dog
7    Bella    6  Black  Charles  Cat

In [19]:
data["Age"].apply('max') 
data

      Name  Age  Color    Owner Type
0   Zophie    8   Gray  Charles  Cat
1    Alice    6  Black  Charles  Cat
2      Bob    4  Brown       Cj  Dog
3  Charlie    3  White       Cj  Dog
4      Max    6  Black       Cj  Dog
5     Milo    4  Brown  Charles  Cat
6     Luna    3  White       Cj  Dog
7    Bella    6  Black  Charles  Cat

In [20]:
# But the same as this 

data["Age"].max()

np.int64(8)

But if you notice this code below gives us the same as our `plus_one()` function

In [21]:
data['Age'] + 1

0    9
1    7
2    5
3    4
4    7
5    5
6    4
7    7
Name: Age, dtype: int64

Use case is in the conditional statements!!

In [22]:
# create a function that classifies 5 years and younger as 'young' and everything above 'old' 
def classify_age(age):
    if age <= 5: 
        return 'young ' 
    else: return 'old' 

data['life_stage'] = data["Age"].apply(classify_age) 
data

      Name  Age  Color    Owner Type life_stage
0   Zophie    8   Gray  Charles  Cat        old
1    Alice    6  Black  Charles  Cat        old
2      Bob    4  Brown       Cj  Dog     young
3  Charlie    3  White       Cj  Dog     young
4      Max    6  Black       Cj  Dog        old
5     Milo    4  Brown  Charles  Cat     young
6     Luna    3  White       Cj  Dog     young
7    Bella    6  Black  Charles  Cat        old

Create a new Column called duration in `new_df`
- using the apply function **row-rise**

In [23]:
# new_df 
new_df = sample_df.groupby('pointNumber') [['pointStartTime']].first() 
new_df

             pointStartTime
pointNumber
1                   25020.0
2                   57814.0
3                   61671.0

In [24]:
new_df['pointEndTime'] = sample_df.groupby('pointNumber')[['pointEndTime']].last() 
new_df

             pointStartTime  pointEndTime
pointNumber
1                   25020.0       38549.0
2                   57814.0       61681.0
3                   61671.0       90130.0

In [25]:
def duration(start, end):
    duration = end - start
    return duration

new_df['duration'] = new_df.apply(lambda x: duration(x['pointStartTime'], x['pointEndTime']), axis=1) 
new_df

             pointStartTime  pointEndTime  duration
pointNumber
1                   25020.0       38549.0   13529.0
2                   57814.0       61681.0    3867.0
3                   61671.0       90130.0   28459.0

But as you notice this function could be simplified to...

In [26]:
new_df['duration'] = new_df['pointEndTime'] - new_df['pointStartTime']
new_df

             pointStartTime  pointEndTime  duration
pointNumber
1                   25020.0       38549.0   13529.0
2                   57814.0       61681.0    3867.0
3                   61671.0       90130.0   28459.0

### Problems to Practice Yourself!!

#### Problem 1: From the `(playsight)kaylan_usc.xlsx` dataset, classify the speed of the ball
- More than 110: **Fast**
- Less than 110 and greater than 70: **Regular**
- Less than 70: **Slow**

In [ ]:
import pandas as pd


shots_excel = pd.read_excel('data/(playsight)kaylan_usc.xlsx', sheet_name='Shots')

shots_excel.head()

def classify_speed(speed):
    if speed > 110:
        return 'Fast'
    elif 70 < speed <= 110:
        return 'Regular'
    else:
        return 'Slow'


shots_excel['Speed_Class'] = shots_excel["speed"].apply(classify_speed)

print(shots_excel)

          Player  Shot            Type    Stroke     Spin  Speed (MPH)  Point  \
0   Kaylan Bigun     1     first_serve     Serve    Slice    86.335464      1
1  Nathan Trouve     1            none  Backhand     Flat    35.898598      1
2   Kaylan Bigun     1    second_serve     Serve    Slice    81.066826      1
3  Nathan Trouve     2   second_return  Backhand     Flat    61.041412      1
4   Kaylan Bigun     3  serve_plus_one  Forehand  Topspin    62.817978      1

   Game  Set Bounce Depth Bounce Zone Bounce Side  Bounce (x)  Bounce (y)  \
0     1    1         deep       deuce         far   -0.492128   19.061304
1     1    1         deep          ad        near   -1.200108    5.485592
2     1    1        short       deuce         far   -0.779633   15.777584
3     1    1         deep       deuce        near    0.660032    2.415293
4     1    1          out       deuce         far   -1.314453   25.694525

  Hit Depth Hit Zone Hit Side   Hit (x)    Hit (y)   Hit (z)   Direction  \
0      deep    deuce     near  0.978027   0.181941  2.421875  down the T
1      deep    deuce      far -0.909668  24.365038  1.114258   inside in
2      deep    deuce     near  0.976562   0.518099  2.332031  down the T
3      deep    deuce      far -1.298828  23.865038  0.971680  inside out
4      deep    deuce     near  0.910156  -0.470559  0.833008  inside out

  Result  Favorited Start Time  Video Time
0    Out      False   22:45:24   25.020000
1     In      False   22:45:25   26.020000
2     In      False   22:45:34   35.220001
3     In      False   22:45:35   36.320000
4    Out      False   22:45:36   37.349998

KeyError: 'Speed'

#### Problem 2: From the `Shot_Visuals_KaylanBigun_NathanTrouve.csv` dataset, create a new column called "shot_depth"
- Use the image below to classify shots as deep, short, and long
- Create a function that takes the arguments `shotLocationX` and `shotLocationY` to create the outputs **short**, **deep**, and **long**

In [ ]:
from IPython.display import Image

Image(filename='images/court_dimensions.jpg', width=250)

# IN RELATION TO THIS DATASET'S COORDINATES

# Origin is at the center of the court
# 455 is the top of the court, -455 is the bottom of the court
# -210 is the left side of the court, 210 is the right side of the court

In [31]:
# read in the dataset 
import pandas as pd

shot_visuals = pd.read_csv('data/Shot_Visuals_KaylanBigun_NathanTrouve.csv')

print(shot_visuals.head())

  pointScore gameScore setScore  isPointStart  pointStartTime  isPointEnd  \
0        0-0       0-0      0-0           1.0         25020.0         NaN
1        0-0       0-0      0-0           NaN         36320.0         NaN
2        0-0       0-0      0-0           NaN         37349.0         NaN
3        0-0       0-0      0-0           NaN         38549.0         1.0
4       15-0       0-0      0-0           1.0         57814.0         1.0

   pointEndTime  pointNumber  isBreakPoint  shotInRally   side    serverName  \
0           NaN            1           NaN            1  Deuce  Kaylan Bigun
1           NaN            1           NaN            2  Deuce  Kaylan Bigun
2           NaN            1           NaN            3  Deuce  Kaylan Bigun
3       38549.0            1           NaN            4  Deuce  Kaylan Bigun
4       61681.0            2           NaN            1     Ad  Kaylan Bigun

  serverFarNear  firstServeIn firstServeZone  firstServeXCoord  \
0          Near           0.0              T         -18.83692
1          Near           NaN            NaN               NaN
2          Near           NaN            NaN               NaN
3          Near           NaN            NaN               NaN
4          Near           1.0           Wide         149.00000

   firstServeYCoord  secondServeIn secondServeZone  secondServeXCoord  \
0        274.599344            1.0               T         -29.841596
1               NaN            NaN             NaN                NaN
2               NaN            NaN             NaN                NaN
3               NaN            NaN             NaN                NaN
4        201.000000            NaN             NaN                NaN

   secondServeYCoord  isAce  shotContactX  shotContactY shotDirection  \
0         148.910149    NaN     37.379342   -435.169001           NaN
1                NaN    NaN    -49.714545    458.469302    Crosscourt
2                NaN    NaN     34.837555   -473.011335    Crosscourt
3                NaN    NaN    -55.284077    511.099442    Crosscourt
4                NaN    1.0           NaN           NaN           NaN

   shotFhBh  isSlice  isVolley  isOverhead  isApproach  isDropshot  \
0       NaN      1.0       NaN         NaN         NaN         NaN
1  Backhand      NaN       NaN         NaN         NaN         NaN
2  Forehand      NaN       NaN         NaN         NaN         NaN
3  Forehand      NaN       NaN         NaN         NaN         NaN
4       NaN      NaN       NaN         NaN         NaN         NaN

   isExcitingPoint  atNetPlayer1  atNetPlayer2  isLob  shotLocationX  \
0              NaN           NaN           NaN    NaN            NaN
1              NaN           NaN           NaN    NaN      25.263692
2              NaN           NaN           NaN    NaN     -50.312615
3              NaN           NaN           NaN    NaN      74.758722
4              NaN           NaN           NaN    NaN            NaN

   shotLocationY  isWinner  isErrorWideR  isErrorWideL  isErrorNet  \
0            NaN       NaN           NaN           NaN         NaN
1    -362.551121       NaN           NaN           NaN         NaN
2     455.000000       NaN           NaN           NaN         NaN
3    -484.903489       NaN           NaN           NaN         NaN
4            NaN       1.0           NaN           NaN         NaN

   isErrorLong                             clientTeam     Date    Division  \
0          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1
1          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1
2          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1
3          1.0  Univeristy of California, Los Angeles  2/22/15  Division 1
4          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1

        Event  lineupPosition  matchDetails                 matchVenue  \
0  Dual-Match             2.0           NaN  Los Angeles Tennis Center
1  Dual-Match             NaN           NaN  Los Angeles Tennis Center
2  Dual-Match             NaN           NaN  Los Angeles Tennis Center
3  Dual-Match             NaN           NaN  Los Angeles Tennis Center
4  Dual-Match             NaN           NaN  Los Angeles Tennis Center

                     opponentTeam   player1Name    player2Name player1Hand  \
0  University of South California  Kaylan Bigun  Nathan Trouve        Left
1  University of South California  Kaylan Bigun  Nathan Trouve        Left
2  University of South California  Kaylan Bigun  Nathan Trouve        Left
3  University of South California  Kaylan Bigun  Nathan Trouve        Left
4  University of South California  Kaylan Bigun  Nathan Trouve        Left

  player2Hand  Round Surface  Notes  isTopspin  isFlat  isKick  gameNumber  \
0       Right    NaN    Hard    NaN        NaN     NaN     NaN           1
1       Right    NaN    Hard    NaN        NaN     1.0     NaN           1
2       Right    NaN    Hard    NaN        1.0     NaN     NaN           1
3       Right    NaN    Hard    NaN        1.0     NaN     NaN           1
4       Right    NaN    Hard    NaN        NaN     NaN     NaN           1

   tiebreakScore   returnerName      shotHitBy  InsideOut  InsideIn  \
0            NaN  Nathan Trouve   Kaylan Bigun        NaN       NaN
1            NaN  Nathan Trouve  Nathan Trouve        1.0       NaN
2            NaN  Nathan Trouve   Kaylan Bigun        1.0       NaN
3            NaN  Nathan Trouve  Nathan Trouve        NaN       NaN
4            NaN  Nathan Trouve   Kaylan Bigun        NaN       NaN

   isDoubleFault    pointWonBy  lastShotError   serveResult serveInPlacement  \
0            NaN           NaN            NaN  2nd Serve In                T
1            NaN           NaN            NaN           NaN              NaN
2            NaN           NaN            NaN           NaN              NaN
3            NaN  Kaylan Bigun            1.0           NaN              NaN
4            NaN  Kaylan Bigun            NaN  1st Serve In             Wide

  depth
0   NaN
1  Deep
2   NaN
3  Long
4   NaN

In [ ]:
# create function 
def classify_shot_depth(shotLocationX, shotLocationY):
    """
    Classifies the shot into 'short', 'deep', or 'long' based on coordinates.

    Parameters:
        shotLocationX (float): The X-coordinate of the shot location.
        shotLocationY (float): The Y-coordinate of the shot location.

    Returns:
        str: The classification of the shot as 'short', 'deep', or 'long'.
    """
 
    if shotLocationY > 245: 
        return 'deep'
    elif shotLocationY < -245:  
        return 'short'
    else:  
        return 'long'

In [33]:
# apply function 

shot_visuals['shot_depth'] = shot_visuals.apply(
    lambda row: classify_shot_depth(row['shotLocationX'], row['shotLocationY']), axis=1
)


print(shot_visuals.head())


shot_visuals.to_csv('data/Shot_Visuals_Updated.csv', index=False)

  pointScore gameScore setScore  isPointStart  pointStartTime  isPointEnd  \
0        0-0       0-0      0-0           1.0         25020.0         NaN
1        0-0       0-0      0-0           NaN         36320.0         NaN
2        0-0       0-0      0-0           NaN         37349.0         NaN
3        0-0       0-0      0-0           NaN         38549.0         1.0
4       15-0       0-0      0-0           1.0         57814.0         1.0

   pointEndTime  pointNumber  isBreakPoint  shotInRally   side    serverName  \
0           NaN            1           NaN            1  Deuce  Kaylan Bigun
1           NaN            1           NaN            2  Deuce  Kaylan Bigun
2           NaN            1           NaN            3  Deuce  Kaylan Bigun
3       38549.0            1           NaN            4  Deuce  Kaylan Bigun
4       61681.0            2           NaN            1     Ad  Kaylan Bigun

  serverFarNear  firstServeIn firstServeZone  firstServeXCoord  \
0          Near           0.0              T         -18.83692
1          Near           NaN            NaN               NaN
2          Near           NaN            NaN               NaN
3          Near           NaN            NaN               NaN
4          Near           1.0           Wide         149.00000

   firstServeYCoord  secondServeIn secondServeZone  secondServeXCoord  \
0        274.599344            1.0               T         -29.841596
1               NaN            NaN             NaN                NaN
2               NaN            NaN             NaN                NaN
3               NaN            NaN             NaN                NaN
4        201.000000            NaN             NaN                NaN

   secondServeYCoord  isAce  shotContactX  shotContactY shotDirection  \
0         148.910149    NaN     37.379342   -435.169001           NaN
1                NaN    NaN    -49.714545    458.469302    Crosscourt
2                NaN    NaN     34.837555   -473.011335    Crosscourt
3                NaN    NaN    -55.284077    511.099442    Crosscourt
4                NaN    1.0           NaN           NaN           NaN

   shotFhBh  isSlice  isVolley  isOverhead  isApproach  isDropshot  \
0       NaN      1.0       NaN         NaN         NaN         NaN
1  Backhand      NaN       NaN         NaN         NaN         NaN
2  Forehand      NaN       NaN         NaN         NaN         NaN
3  Forehand      NaN       NaN         NaN         NaN         NaN
4       NaN      NaN       NaN         NaN         NaN         NaN

   isExcitingPoint  atNetPlayer1  atNetPlayer2  isLob  shotLocationX  \
0              NaN           NaN           NaN    NaN            NaN
1              NaN           NaN           NaN    NaN      25.263692
2              NaN           NaN           NaN    NaN     -50.312615
3              NaN           NaN           NaN    NaN      74.758722
4              NaN           NaN           NaN    NaN            NaN

   shotLocationY  isWinner  isErrorWideR  isErrorWideL  isErrorNet  \
0            NaN       NaN           NaN           NaN         NaN
1    -362.551121       NaN           NaN           NaN         NaN
2     455.000000       NaN           NaN           NaN         NaN
3    -484.903489       NaN           NaN           NaN         NaN
4            NaN       1.0           NaN           NaN         NaN

   isErrorLong                             clientTeam     Date    Division  \
0          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1
1          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1
2          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1
3          1.0  Univeristy of California, Los Angeles  2/22/15  Division 1
4          NaN  Univeristy of California, Los Angeles  2/22/15  Division 1

        Event  lineupPosition  matchDetails                 matchVenue  \
0  Dual-Match             2.0           NaN  Los Angeles Tennis Center
1  Dual-Match             NaN           NaN  Los Angeles Tennis Center
2  Dual-Match             NaN           NaN  Los Angeles Tennis Center
3  Dual-Match             NaN           NaN  Los Angeles Tennis Center
4  Dual-Match             NaN           NaN  Los Angeles Tennis Center

                     opponentTeam   player1Name    player2Name player1Hand  \
0  University of South California  Kaylan Bigun  Nathan Trouve        Left
1  University of South California  Kaylan Bigun  Nathan Trouve        Left
2  University of South California  Kaylan Bigun  Nathan Trouve        Left
3  University of South California  Kaylan Bigun  Nathan Trouve        Left
4  University of South California  Kaylan Bigun  Nathan Trouve        Left

  player2Hand  Round Surface  Notes  isTopspin  isFlat  isKick  gameNumber  \
0       Right    NaN    Hard    NaN        NaN     NaN     NaN           1
1       Right    NaN    Hard    NaN        NaN     1.0     NaN           1
2       Right    NaN    Hard    NaN        1.0     NaN     NaN           1
3       Right    NaN    Hard    NaN        1.0     NaN     NaN           1
4       Right    NaN    Hard    NaN        NaN     NaN     NaN           1

   tiebreakScore   returnerName      shotHitBy  InsideOut  InsideIn  \
0            NaN  Nathan Trouve   Kaylan Bigun        NaN       NaN
1            NaN  Nathan Trouve  Nathan Trouve        1.0       NaN
2            NaN  Nathan Trouve   Kaylan Bigun        1.0       NaN
3            NaN  Nathan Trouve  Nathan Trouve        NaN       NaN
4            NaN  Nathan Trouve   Kaylan Bigun        NaN       NaN

   isDoubleFault    pointWonBy  lastShotError   serveResult serveInPlacement  \
0            NaN           NaN            NaN  2nd Serve In                T
1            NaN           NaN            NaN           NaN              NaN
2            NaN           NaN            NaN           NaN              NaN
3            NaN  Kaylan Bigun            1.0           NaN              NaN
4            NaN  Kaylan Bigun            NaN  1st Serve In             Wide

  depth shot_depth
0   NaN       long
1  Deep      short
2   NaN       deep
3  Long      short
4   NaN       long