## Week 5: Jupyter Notebook - Pandas GroupBy, Apply, and Create Your Own Functions
Make sure to select your Kernel before starting!

### Import Pandas Library/Package
`import pandas as pd`

In [1]:
import pandas as pd

### Optional: Displaying your Dataframe
Don't use for big datasets

In [2]:
pd.set_option("display.max_columns", None)  # Show all columns
pd.set_option("display.max_rows", None)     # Show all rows

### Spliting Strings!
`.split()`

In [3]:
# Create a string
string = "Hi my name is Cj"

# Set the delimeter/seperator
delimeter = " "

# Use the .split() function
string.split(delimeter)

['Hi', 'my', 'name', 'is', 'Cj']

In [4]:
# Assign output to variable
string_split = string.split(delimeter)

# Grab the "Cj" from the list (using indexing)
string_split[4]

'Cj'

In [5]:
# Assign Value to variable
name = string_split[4]
name

'Cj'

In [6]:
# Grab the the "6" from the first set score
score = "6-0 6-4"

In [7]:
set_scores = score.split(" ")
set_scores[0].split("-")[0]

'6'

#### Using this in a DataFrame (with our data)

In [8]:
# Read in the (playsight)kaylan_usc.xlsx, Shots sheet
df = pd.read_excel('data/(playsight)kaylan_usc.xlsx', sheet_name='Shots')
df.head()

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998

In [9]:
first, last = df['Player'][0].split(" ") 
print(first)
print(last)

Kaylan
Bigun

In [10]:
def split_function(x):
    name = x.split(" ")
    return name[0], name[1]

df['Player'].apply(split_function).head()   # no .apply(pd.Series)

0     (Kaylan, Bigun)
1    (Nathan, Trouve)
2     (Kaylan, Bigun)
3    (Nathan, Trouve)
4     (Kaylan, Bigun)
Name: Player, dtype: object

In [11]:
df['Player'].apply(split_function).apply(pd.Series).head()

        0       1
0  Kaylan   Bigun
1  Nathan  Trouve
2  Kaylan   Bigun
3  Nathan  Trouve
4  Kaylan   Bigun

In [12]:
df[['First', 'Last']] = df['Player'].apply(split_function).apply(pd.Series)
display(df.head())

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,First,Last
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000,Kaylan,Bigun
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000,Nathan,Trouve
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001,Kaylan,Bigun
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000,Nathan,Trouve
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998,Kaylan,Bigun

### What is in what?
`in`

In [13]:
name

'Cj'

In [14]:
string2 = "Cj is so cool, I like Cj"
name in string2

True

In [15]:
item = "banana"
if item in ["apple", "banana", "cherry"]: # using if statement
    print("Found!")

Found!

#### Using this in a DataFrame (with our data)

In [17]:
df.head()

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,First,Last
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000,Kaylan,Bigun
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000,Nathan,Trouve
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001,Kaylan,Bigun
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000,Nathan,Trouve
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998,Kaylan,Bigun

In [18]:
'serve' in df['Type']

False

In [19]:
'serve' in df['Type'][0] # we must iterate through the whole dataframe if we want to find all the cells in with serve
                         # how do we do it without iterating through the whole datagrame

True

`.isin()`

In [20]:
# Check all the unique values in the "Type" column
df['Type'].unique()

array(['first_serve', 'none', 'second_serve', 'second_return',
       'serve_plus_one', 'return_plus_one', 'first_return', 'in_play'],
      dtype=object)

In [21]:
df[df['Type'].isin(['first_serve', 'second_serve'])].head()

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,First,Last
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000,Kaylan,Bigun
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001,Kaylan,Bigun
6,Kaylan Bigun,1,second_serve,Serve,Flat,110.786316,2,1,1,deep,ad,far,2.284124,19.640869,deep,ad,near,-2.001953,0.623191,2.349609,down the T,Out,False,22:46:43,104.949997,Kaylan,Bigun
8,Nathan Trouve,1,first_serve,Serve,Slice,90.916397,3,1,1,short,deuce,far,-3.437361,17.235271,deep,deuce,near,1.006836,0.552878,2.544922,out wide,In,False,22:47:35,156.149994,Nathan,Trouve
11,Nathan Trouve,1,first_serve,Serve,Flat,115.043945,4,1,1,deep,ad,far,2.898438,18.296926,deep,ad,near,-1.217773,0.203817,2.269531,out wide,Out,False,22:48:03,184.279999,Nathan,Trouve

### Joining/Merging DataFrames
`.merge()`

In [22]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 
                    'Name': ['Alice', 'Bob', 'Charlie']})

df2 = pd.DataFrame({'ID': [2, 3, 4, 5], 
                    'Age': [30, 25, 40, 15]})
display(df1)
display(df2)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

   ID  Age
0   2   30
1   3   25
2   4   40
3   5   15

In [23]:
# Merge the two dataframes on the ID column
df1.merge(df2, on='ID')

# Same as specifying the how argument to 'inner'
# df1.merge(df2, on='ID', how='inner')

   ID     Name  Age
0   2      Bob   30
1   3  Charlie   25

In [24]:
df1.merge(df2, on='ID', how='outer')

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  30.0
2   3  Charlie  25.0
3   4      NaN  40.0
4   5      NaN  15.0

In [25]:
# merge by left
pd.merge(df1, df2, on='ID', how='left')

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  30.0
2   3  Charlie  25.0

In [26]:
# Merge by right
pd.merge(df1, df2, on='ID', how='right')

   ID     Name  Age
0   2      Bob   30
1   3  Charlie   25
2   4      NaN   40
3   5      NaN   15

#### Using this in a DataFrame (with our data)

In [27]:
shots = pd.read_excel('data/(playsight)kaylan_usc.xlsx', sheet_name='Shots')
points = pd.read_excel('data/(playsight)kaylan_usc.xlsx', sheet_name='Points')
games = pd.read_excel('data/(playsight)kaylan_usc.xlsx', sheet_name='Games')
sets = pd.read_excel('data/(playsight)kaylan_usc.xlsx', sheet_name='Sets')

In [28]:
sample_shots = shots[:11].copy()
sample_shots

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998
5,Nathan Trouve,4,return_plus_one,Forehand,Topspin,48.466011,1,1,1,out,deuce,near,1.953125,-0.781250,out,deuce,far,-1.444336,25.240038,0.849609,cross court,Out,False,22:45:37,38.549999
6,Kaylan Bigun,1,second_serve,Serve,Flat,110.786316,2,1,1,deep,ad,far,2.284124,19.640869,deep,ad,near,-2.001953,0.623191,2.349609,down the T,Out,False,22:46:43,104.949997
7,Nathan Trouve,2,second_return,Forehand,Flat,42.480663,2,1,1,short,ad_alley,near,-4.401617,6.835700,deep,ad,far,2.980469,24.396288,1.519531,inside in,Out,False,22:46:44,105.620003
8,Nathan Trouve,1,first_serve,Serve,Slice,90.916397,3,1,1,short,deuce,far,-3.437361,17.235271,deep,deuce,near,1.006836,0.552878,2.544922,out wide,In,False,22:47:35,156.149994
9,Kaylan Bigun,2,first_return,Backhand,Flat,36.654118,3,1,1,short,ad,near,-1.688720,9.632265,deep,deuce_alley,far,-5.359375,24.927538,1.164062,down the line,In,False,22:47:35,156.979996
10,Nathan Trouve,3,serve_plus_one,Forehand,Topspin,59.701111,3,1,1,out,ad_alley,far,4.151452,24.126013,deep,ad,near,-0.673340,2.216940,1.095703,inside in,Out,False,22:47:37,158.580002

In [29]:
sample_points = points[:3].copy()
sample_points

,Point,Game,Set,Serve State,Match Server,Host Game Score,Guest Game Score,Point Winner,Detail,Break Point,Set Point,Favorited,Start Time,Video Time,Duration
0,1,1,1,second,host,0,0,guest,Forehand Unforced Error,False,False,False,22:45:26,27.020000,14.8
1,2,1,1,second,host,0,15,guest,Double Fault,False,False,False,22:46:45,106.949997,1.7
2,3,1,1,first,host,0,30,guest,Forehand Unforced Error,False,False,False,22:47:37,158.149994,3.3

#### What if I wanted to add scores to my shots sheet?

In [30]:
def create_point_score(server, host_score, guest_score):
    host_score = str(host_score)
    guest_score = str(guest_score)

    if server == 'host':
        return host_score + "-" + guest_score
    else:
        return guest_score + "-" + host_score
    
sample_points['Point Score'] = sample_points.apply(lambda x: 
                                                   create_point_score(x['Match Server'], x['Host Game Score'], x['Guest Game Score']),
                                                   axis=1)

In [31]:
sample_points

,Point,Game,Set,Serve State,Match Server,Host Game Score,Guest Game Score,Point Winner,Detail,Break Point,Set Point,Favorited,Start Time,Video Time,Duration,Point Score
0,1,1,1,second,host,0,0,guest,Forehand Unforced Error,False,False,False,22:45:26,27.020000,14.8,0-0
1,2,1,1,second,host,0,15,guest,Double Fault,False,False,False,22:46:45,106.949997,1.7,0-15
2,3,1,1,first,host,0,30,guest,Forehand Unforced Error,False,False,False,22:47:37,158.149994,3.3,0-30

In [32]:
sample_points_subset = sample_points[['Point', 'Game', 'Set', 'Point Winner', 'Detail', 'Break Point', 'Set Point', 'Point Score']].copy()
sample_points_subset

,Point,Game,Set,Point Winner,Detail,Break Point,Set Point,Point Score
0,1,1,1,guest,Forehand Unforced Error,False,False,0-0
1,2,1,1,guest,Double Fault,False,False,0-15
2,3,1,1,guest,Forehand Unforced Error,False,False,0-30

In [33]:
sample_shots.merge(sample_points_subset, on = ['Point']) # notice how we have a "Game_y" and "Set_y" column

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game_x,Set_x,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,Game_y,Set_y,Point Winner,Detail,Break Point,Set Point,Point Score
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000,1,1,guest,Forehand Unforced Error,False,False,0-0
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000,1,1,guest,Forehand Unforced Error,False,False,0-0
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001,1,1,guest,Forehand Unforced Error,False,False,0-0
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000,1,1,guest,Forehand Unforced Error,False,False,0-0
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998,1,1,guest,Forehand Unforced Error,False,False,0-0
5,Nathan Trouve,4,return_plus_one,Forehand,Topspin,48.466011,1,1,1,out,deuce,near,1.953125,-0.781250,out,deuce,far,-1.444336,25.240038,0.849609,cross court,Out,False,22:45:37,38.549999,1,1,guest,Forehand Unforced Error,False,False,0-0
6,Kaylan Bigun,1,second_serve,Serve,Flat,110.786316,2,1,1,deep,ad,far,2.284124,19.640869,deep,ad,near,-2.001953,0.623191,2.349609,down the T,Out,False,22:46:43,104.949997,1,1,guest,Double Fault,False,False,0-15
7,Nathan Trouve,2,second_return,Forehand,Flat,42.480663,2,1,1,short,ad_alley,near,-4.401617,6.835700,deep,ad,far,2.980469,24.396288,1.519531,inside in,Out,False,22:46:44,105.620003,1,1,guest,Double Fault,False,False,0-15
8,Nathan Trouve,1,first_serve,Serve,Slice,90.916397,3,1,1,short,deuce,far,-3.437361,17.235271,deep,deuce,near,1.006836,0.552878,2.544922,out wide,In,False,22:47:35,156.149994,1,1,guest,Forehand Unforced Error,False,False,0-30
9,Kaylan Bigun,2,first_return,Backhand,Flat,36.654118,3,1,1,short,ad,near,-1.688720,9.632265,deep,deuce_alley,far,-5.359375,24.927538,1.164062,down the line,In,False,22:47:35,156.979996,1,1,guest,Forehand Unforced Error,False,False,0-30
10,Nathan Trouve,3,serve_plus_one,Forehand,Topspin,59.701111,3,1,1,out,ad_alley,far,4.151452,24.126013,deep,ad,near,-0.673340,2.216940,1.095703,inside in,Out,False,22:47:37,158.580002,1,1,guest,Forehand Unforced Error,False,False,0-30

In [34]:
# How to fix? Specify all the keys in your "on" argument
sample_shots_merged = sample_shots.merge(sample_points_subset, on = ['Point', 'Game', 'Set'])
sample_shots_merged # now my dataset has the additonal columns after the "Video Time" column

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,Point Winner,Detail,Break Point,Set Point,Point Score
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000,guest,Forehand Unforced Error,False,False,0-0
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000,guest,Forehand Unforced Error,False,False,0-0
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001,guest,Forehand Unforced Error,False,False,0-0
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000,guest,Forehand Unforced Error,False,False,0-0
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998,guest,Forehand Unforced Error,False,False,0-0
5,Nathan Trouve,4,return_plus_one,Forehand,Topspin,48.466011,1,1,1,out,deuce,near,1.953125,-0.781250,out,deuce,far,-1.444336,25.240038,0.849609,cross court,Out,False,22:45:37,38.549999,guest,Forehand Unforced Error,False,False,0-0
6,Kaylan Bigun,1,second_serve,Serve,Flat,110.786316,2,1,1,deep,ad,far,2.284124,19.640869,deep,ad,near,-2.001953,0.623191,2.349609,down the T,Out,False,22:46:43,104.949997,guest,Double Fault,False,False,0-15
7,Nathan Trouve,2,second_return,Forehand,Flat,42.480663,2,1,1,short,ad_alley,near,-4.401617,6.835700,deep,ad,far,2.980469,24.396288,1.519531,inside in,Out,False,22:46:44,105.620003,guest,Double Fault,False,False,0-15
8,Nathan Trouve,1,first_serve,Serve,Slice,90.916397,3,1,1,short,deuce,far,-3.437361,17.235271,deep,deuce,near,1.006836,0.552878,2.544922,out wide,In,False,22:47:35,156.149994,guest,Forehand Unforced Error,False,False,0-30
9,Kaylan Bigun,2,first_return,Backhand,Flat,36.654118,3,1,1,short,ad,near,-1.688720,9.632265,deep,deuce_alley,far,-5.359375,24.927538,1.164062,down the line,In,False,22:47:35,156.979996,guest,Forehand Unforced Error,False,False,0-30
10,Nathan Trouve,3,serve_plus_one,Forehand,Topspin,59.701111,3,1,1,out,ad_alley,far,4.151452,24.126013,deep,ad,near,-0.673340,2.216940,1.095703,inside in,Out,False,22:47:37,158.580002,guest,Forehand Unforced Error,False,False,0-30

In [35]:
sample_shots

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time
0,Kaylan Bigun,1,first_serve,Serve,Slice,86.335464,1,1,1,deep,deuce,far,-0.492128,19.061304,deep,deuce,near,0.978027,0.181941,2.421875,down the T,Out,False,22:45:24,25.020000
1,Nathan Trouve,1,none,Backhand,Flat,35.898598,1,1,1,deep,ad,near,-1.200108,5.485592,deep,deuce,far,-0.909668,24.365038,1.114258,inside in,In,False,22:45:25,26.020000
2,Kaylan Bigun,1,second_serve,Serve,Slice,81.066826,1,1,1,short,deuce,far,-0.779633,15.777584,deep,deuce,near,0.976562,0.518099,2.332031,down the T,In,False,22:45:34,35.220001
3,Nathan Trouve,2,second_return,Backhand,Flat,61.041412,1,1,1,deep,deuce,near,0.660032,2.415293,deep,deuce,far,-1.298828,23.865038,0.971680,inside out,In,False,22:45:35,36.320000
4,Kaylan Bigun,3,serve_plus_one,Forehand,Topspin,62.817978,1,1,1,out,deuce,far,-1.314453,25.694525,deep,deuce,near,0.910156,-0.470559,0.833008,inside out,Out,False,22:45:36,37.349998
5,Nathan Trouve,4,return_plus_one,Forehand,Topspin,48.466011,1,1,1,out,deuce,near,1.953125,-0.781250,out,deuce,far,-1.444336,25.240038,0.849609,cross court,Out,False,22:45:37,38.549999
6,Kaylan Bigun,1,second_serve,Serve,Flat,110.786316,2,1,1,deep,ad,far,2.284124,19.640869,deep,ad,near,-2.001953,0.623191,2.349609,down the T,Out,False,22:46:43,104.949997
7,Nathan Trouve,2,second_return,Forehand,Flat,42.480663,2,1,1,short,ad_alley,near,-4.401617,6.835700,deep,ad,far,2.980469,24.396288,1.519531,inside in,Out,False,22:46:44,105.620003
8,Nathan Trouve,1,first_serve,Serve,Slice,90.916397,3,1,1,short,deuce,far,-3.437361,17.235271,deep,deuce,near,1.006836,0.552878,2.544922,out wide,In,False,22:47:35,156.149994
9,Kaylan Bigun,2,first_return,Backhand,Flat,36.654118,3,1,1,short,ad,near,-1.688720,9.632265,deep,deuce_alley,far,-5.359375,24.927538,1.164062,down the line,In,False,22:47:35,156.979996
10,Nathan Trouve,3,serve_plus_one,Forehand,Topspin,59.701111,3,1,1,out,ad_alley,far,4.151452,24.126013,deep,ad,near,-0.673340,2.216940,1.095703,inside in,Out,False,22:47:37,158.580002