# Serve In/Won %

In [1]:
# imports

import pandas as pd
import os

In [16]:
xls = pd.ExcelFile(f'../../data/mens/Rudy Quan/combined.xlsx')

settings = xls.parse('Settings')
stats = xls.parse('Stats')
settings = settings.dropna(subset=['Host Team'])
settings = settings[['Host Team', '__source_file__']]
settings

    Host Team                      __source_file__
0   Rudy Quan            RudyQuan_Cal_1_25_25.xlsx
6   Rudy Quan   RudyQuan_FloridaState_9_23_24.xlsx
12  Rudy Quan         RudyQuan_Indiana_3_7_25.xlsx
18  Rudy Quan  RudyQuan_MichiganState_4_13_25.xlsx
24  Rudy Quan         RudyQuan_Oregon_3_29_25.xlsx
30  Rudy Quan     RudyQuan_Pepperdine_2_27_25.xlsx
36  Rudy Quan          RudyQuan_Purdue_3_9_25.xlsx
42  Rudy Quan       RudyQuan_SanDiego_1_20_25.xlsx
48  Rudy Quan           RudyQuan_TAMU_1_25_25.xlsx
54  Rudy Quan      RudyQuan_UMichigan_4_25_25.xlsx
60  Rudy Quan            RudyQuan_USC_2_22_25.xlsx
66  Rudy Quan     RudyQuan_Washington_3_30_35.xlsx

In [15]:
stats

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__
0,1st Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
1,1st Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
2,1st Serves Won,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
3,2nd Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
4,2nd Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...
325,Forehand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
326,Backhand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
327,Calories Burned (CAL),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
328,Distance Run (MI),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx
329,Average Heart Rate (BPM),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx

In [21]:
# merge host team and stats 
stats = stats.merge(settings, how = 'outer', on = '__source_file__')
stats

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__,Host Team_x,Host Team_y,Host Team
0,1st Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
1,1st Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
2,1st Serves Won,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
3,2nd Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
4,2nd Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,Forehand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
327,Backhand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
328,Calories Burned (CAL),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
329,Distance Run (MI),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,Rudy Quan,Rudy Quan
330,Average Heart Rate (BPM),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,Rudy Quan,Rudy Quan

In [35]:
# total of the first serves of all the sets, assuming that host team is UCLA player
first_total = stats.loc[stats['Stat Name'] == '1st Serves']
first_serve_total = sum(first_total[['Host Set 1', 'Host Set 2', 'Host Set 3', 'Host Set 4', 'Host Set 5']].sum()) 

# total of the first serves that are in, assuming that host team is UCLA player
first_in = stats.loc[stats['Stat Name'] == '1st Serves In']
first_in_total = sum(first_in[['Host Set 1', 'Host Set 2', 'Host Set 3', 'Host Set 4', 'Host Set 5']].sum())

# total of the first serves that were won, assuming that host team is UCLA player
first_won = stats.loc[stats['Stat Name'] == '1st Serves Won']
first_won_total = sum(first_won[['Host Set 1', 'Host Set 2', 'Host Set 3', 'Host Set 4', 'Host Set 5']].sum())

print(f'First Serve Total: {first_serve_total}')
print(f'First Serve In Total: {first_in_total}')
print(f'First Serve Won Total: {first_won_total}')

First Serve Total: 424.0
First Serve In Total: 304.0
First Serve Won Total: 198.0

In [36]:
# total of the second serves of all the sets, assuming that host team is UCLA player
second_total = stats.loc[stats['Stat Name'] == '2nd Serves']
second_serve_total = sum(second_total[['Host Set 1', 'Host Set 2', 'Host Set 3', 'Host Set 4', 'Host Set 5']].sum()) 

# total of the second serves that are in, assuming that host team is UCLA player
second_in = stats.loc[stats['Stat Name'] == '2nd Serves In']
second_in_total = sum(second_in[['Host Set 1', 'Host Set 2', 'Host Set 3', 'Host Set 4', 'Host Set 5']].sum())

# total of the second serves that were won, assuming that host team is UCLA player
second_won = stats.loc[stats['Stat Name'] == '2nd Serves Won']
second_won_total = sum(second_won[['Host Set 1', 'Host Set 2', 'Host Set 3', 'Host Set 4', 'Host Set 5']].sum())

print(f'Second Serve Total: {second_serve_total}')
print(f'Second Serve In Total: {second_in_total}')
print(f'Second Serve Won Total: {second_won_total}')

Second Serve Total: 120.0
Second Serve In Total: 105.0
Second Serve Won Total: 58.0